* {
    outline: 1px soli;
}
body {
    background-color: #D6E1EF;
}
main {
    background-color: white;
    height: 425px;
    width: 265px;
    margin: 50px auto;
    padding: 15px;
    border-radius: 20px;
}
img {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 10px;
}
.hook {
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    color: hsl(218, 44%, 22%);
}
.description {
    font-family: 'outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    padding: auto 5px;
    color: hsl(220, 15%, 55%)
}
.attribution {
    font-family: 'outfit', sans-serif;
    font-weight: 700;
}